{% extends 'base.html.twig' %}

{% block body %}

<p>ID : {{ post.id }}</p>

<p>Author : <a href="{{ path('user_show', {'id':post.author.id}) }}">{{ post.author.name }}</a></p>

<p>Title : {{ post.title }}</p>

<p>Content : {{ post.content }}</p>

<p>Publication date : {{ post.publicationDate | localizeddate('medium', 'medium') }}</p>

<p>Last edit date : {{ post.editDate | localizeddate('medium', 'medium') }}</p>

{% endblock %}