{% extends 'base.html.twig' %} {% block body %}

<article>
    <h3 class="title">{{ post.title }}</h3>
    <h4 class="subtitle">
      by
      <a href="{{ path('user_show', {'id': post.author.id}) }}">
        {{ post.author.username }}
      </a>
      the {{ post.publicationDate | localizeddate('medium', 'none') }}
      at {{ post.publicationDate | localizeddate('none', 'short') }}
    </h4>
    <div class="box content">
      {{ post.content | striptags(post_authorized_tags) | raw }}
    </div>
</article>

{% endblock %}
