<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

<body>

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> That guy's website </h1>
        <h2 class="subtitle"> "I litteraly have nothing else to do." </h2>
      </div>
    </div>
  </section>

  <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ path('blog_list') }}">Home</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Blog</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ path('blog_last') }}">Last</a>
            <a class="navbar-item" href="{{ path('blog_list') }}">Browse</a>
            <a class="navbar-item" href="{{ path('blog_new') }}">New</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
          {% if app.user %}
            {{ app.user.username }}
          {% else %}
            User
          {% endif %}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{ path('user_list') }}">User List</a>
            {% if app.user %}
              <a class="navbar-item" href="{{ path('user_show', {'id':app.user.id}) }}">Your accound</a>
              <a class="navbar-item" href="{{ path('logout') }}">Logout</a>
            {% else %}
              <a class="navbar-item" href="{{ path('user_login') }}">Login</a>
              <a class="navbar-item" href="#">Sign in</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="navbar-end">
      </div>
    </div>
  </nav>

  <section class="section content-root center">
    {% block body %}

    {% endblock body %}
  </section>


  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>That guy's website</strong> by
          <a href="https://www.linkedin.com/in/adrien-boutigny/">Adrien Boutigny</a>. The source code is licenced something something and is available on
          <a href="https://github.com/hissalht/blog-project">GitHub</a>.
        </p>
      </div>
    </div>
  </footer>

  <script src="{{ asset('build/app.js') }}"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</body>

</html>
