{% extends 'base.html.twig' %}

{% block body %}

<h3>{{ user.username }}</h3>
<p>ID : {{ user.id }}</p>
<h4>Roles :</h4>
<ul>
  {% for role in user.roles %}
  <li>{{ role }}</li>
  {% endfor %}
</ul>


<h4>Posts</h4>
<ul>
  {% for post in user.posts %}
  <li>
    <a href="{{ path('blog_show', {'id': post.id}) }}">
      {{ post.title }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
